{{#*inline "page"}}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Not Found
            </h1>
            <p class="subtitle">
                Sorry, that page doesn't exist. Here's a fun video you can watch while you figure
                out your life.
            </p>
            <div class="columns is-center is-vcentered">
                <div class="column">
                    <figure class="image is-16by9">
                        <img src="/cum.gif" alt="Portal 2 Cum">
                    </figure>
                </div>
            </div>
        </div>
    </section>
{{/inline}}

{{~> layout~}}
