{{#*inline "message"}}
    <h1 class="title">
        Not Found
    </h1>
    <p class="subtitle">
        Sorry, that page doesn't exist. Here's a fun video you can watch while you figure out your life.
    </p>
{{/inline}}

{{~> error~}}
