{{#*inline "message"}}
    <h1 class="title">
        Server Error
    </h1>
    <p class="subtitle">
        Sorry, my shitty code broke the website. Try refreshing?
    </p>
{{/inline}}

{{~> error~}}
