{{#*inline "page"}}
    <section class="section">
        <div class="container">
            <div id="aboutText" class="box">
                <h1 class="title is-size-1-tablet">
                    About The Milk Engineers
                </h1>
                <h2 class="subtitle is-size-2-tablet">
                    Our Path to Greatness
                </h2>
                <p class="is-size-5-tablet">
                    We founded a milk engine shop in 1928, with the idea of providing people the ability to buy premium
                    quality milk products directly from our shop by cutting out the middle man. At the time, almost all
                    milk engines were home delivered and paid for on a weekly or monthly basis.
                    <br><br>
                    During the depression, we worked early mornings together to keep our milk shop running, dedicated to
                    making our dream of a more perfect world a reality, running milk delivery routes throughout Illinois.
                    Shop expansion continued through the 50’s and 70’s. In the early 80’s our milk marketing team became
                    actively involved in the evolution of the Milk Engine&trade; brand. Convinced that milk engine sales
                    could
                    be expanded significantly by launching a premium line, our milk engineers developed a revolutionary
                    electromilking process in 1982. It offered exotic engines, packed full of high quality milk to make
                    the best milk products we could.
                    <br><br>
                    Milk Engineering™ Magazine rated Milk Engine&trade; Milk Engine Model C the <q>Number One Exotic Milk
                    Engine</q> in a 1984 competition. Over 500 engines were submitted by 100 competitors worldwide.
                    Today, Milk Engine&trade;'s products are still made with pure milk.
                    <br><br>
                    Even though Milk Engine&trade; is now enjoyed all over the world, we still have the same simple
                    approach:
                    use the best milk to make the best engines. So, whether you're an amateur consumer or a certified
                    milk
                    professional, you’ll always get milk engines made with master craftsmanship.
                </p>
            </div>
        </div>
    </section>
{{/inline}}

{{~> layout~}}
