{{#*inline "page"}}
    <section class="section">
        <div class="container">
            <div id="aboutText" class="box">
                <h1 class="title is-size-1">
                    About The Cum Engineers
                </h1>
                <h2 class="subtitle is-size-2">
                    Our Path to Greatness
                </h2>
                <p class="is-size-5">
                    We founded a cum engine shop in 1928, with the idea of providing people the ability to buy premium
                    quality cum products directly from our shop by cutting out the middle man. At the time, almost all
                    cum engines were home delivered and paid for on a weekly or monthly basis.
                    <br><br>
                    During the depression, we worked early mornings together to keep our cum shop running, dedicated to
                    making our dream of a more perfect world a reality, running cum delivery routes throughout Illinois.
                    Shop expansion continued through the 50’s and 70’s. In the early 80’s our cum marketing team became
                    actively involved in the evolution of the Cum Engine&trade; brand. Convinced that cum engine sales could
                    be expanded significantly by launching a premium line, our cum engineers developed a revolutionary
                    electroejaculation process in 1982. It offered exotic engines, packed full of high quality cum to make
                    the best cum products we could.
                    <br><br>
                    Cum Engineering magazine rated Cum Engine&trade; Cum Engine Model C the “Number One Exotic Cum Engine”
                    in a 1984 competition. Over 500 engines were submitted by 100 competitors worldwide. Today, Cum
                    Engine&trade;'s products are still made with pure semen.
                    <br><br>
                    Even though Cum Engine&trade; is now enjoyed all over the world, we still have the same simple approach:
                    use the best semen to make the best engines. So, whether you're an amateur consumer or a certified cum
                    professional, you’ll always get cum engines made with master craftsmanship.
                </p>
            </div>
        </div>
    </section>
{{/inline}}

{{~> layout~}}
