{{#*inline "page"}}
    <section class="section">
        <div class="container mb-5">
            {{~> message}}
        </div>
        <div class="container">
            <div class="columns is-center is-vcentered">
                <div class="column">
                    <figure class="image is-16by9">
                        <img id="errorImage" src="/cum.gif" alt="Portal 2 Cum">
                    </figure>
                </div>
            </div>
        </div>
    </section>
{{/inline}}

{{~> layout~}}
