{{#*inline "page"}}
    <section class="section">
        <div class="container mb-5">
            {{~> message}}
        </div>
        <div class="container">
            <div class="columns is-center is-vcentered">
                <div class="column">
                    <figure class="image is-16by9">
                        <img class="is-rounded-rect" src="/milk.gif" alt="Milk">
                    </figure>
                </div>
            </div>
        </div>
    </section>
{{/inline}}

{{~> layout~}}
