<footer id="upperTextFooter" class="footer">
    <div class="content has-text-centered">
        <p><strong>Cum Engine</strong> &copy; 6969 BC.</p>
        <p><q>My cum engine shall power our society until the heat death of the universe</q> - Founder and CTO, Dr. Zaun Mundo, MD</p>
        <p>If you're reading this, I just want to say I'm sorry.</p>
    </div>
</footer>
<footer id="bottomLogoFooter" class="footer has-background-dark">
    <div class="level">
        <div class="level-item">
            <a href="/"><img id="bottomLogo" src="/bottom-logo.png" alt="Logo"></a>
        </div>
    </div>
</footer>
