<footer class="py-6 footer">
    <div class="has-text-centered">
        <p> <span class="is-italic">Cum Engine</span> &trade;</p>
        <p><q>My cum engine shall power our society until the heat death of the universe</q> - Founder and CTO, Dr. Zaun Mundo, PhD</p>
        <p>If you're reading this, I just want to say I'm sorry.</p>
    </div>
</footer>
<footer class="py-0 footer has-background-dark">
    <div class="level">
        <div class="level-item">
            <a class="py-3 px-5" href="/"><img id="bottom-logo" src="/bottom-logo.png" alt="Logo"></a>
        </div>
    </div>
</footer>
