{{#*inline "page"}}
    <section class="hero is-dark is-small">
        <div class="hero-body">
            <div class="container">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div>
                                <h1 class="title is-spaced">
                                    Maximum Performance.
                                    <br>
                                    Zero Compromises.
                                </h1>
                                <h2 class="subtitle">
                                    That's our promise.
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <a href="/shop/engines" class="button is-bold is-large is-warning is-rounded">
                                <span class="icon"><i class="material-icons">shopping_cart</i></span>
                                <span>Shop Engines Now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <figure id="mainJumbotron" class="image is-16by9">
                <a href="/shop">
                    <img src="/sale.jpg" alt="Sale Background">
                </a>
            </figure>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="/engine.png" alt="Cum Engine">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div>
                                <p class="card-header-title title">Cum Engines</p>
                                <p class="subtitle">
                                    Take a look at our luxury Cum Engines.
                                    These bad boys run only off natural semen --
                                    no more dangerous and harmful gasoline or oil required.
                                </p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="/shop/engines" class="card-footer-item">Shop Now</a>
                        </footer>

                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="/cumjar.png" alt="Cum Jar">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div>
                                <p class="card-header-title title">Cum</p>
                                <p class="subtitle">
                                    Getting to that age where you can't provide for yourself (and your cum engine)?
                                    Not to worry! Through a complex and painful process named "electroejaculation",
                                    each one of our Cum Farms can produce almost 200 liters (almost 52 Gallons for you
                                    american scum) of semen a day, which is then sold wholesale to you!
                                </p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="/shop/cum" class="card-footer-item">Shop Now</a>
                        </footer>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="/part.png" alt="Engine Parts">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div>
                                <p class="card-header-title title">Cum Engine Parts</p>
                                <p class="subtitle">
                                    Did your Cum Engine break? Sucks to suck, because all sales are final.
                                    However, in the event that you know how to repair an engine or think you can figure
                                    it out from youtube (you can't), you can buy the parts you will need to do perform
                                    the repair right here!
                                </p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="/shop/parts" class="card-footer-item">Shop Now</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="box">
                <h1 class="subtitle">
                    <strong>Our Story</strong>
                </h1>
                <p>
                    We founded a cum engine shop in 1928, with the idea of providing people the ability to buy premium
                    quality cum products directly from our shop by cutting out the middle man. At the time, almost all
                    cum engines were home delivered and paid for on a weekly or monthly basis.
                    <br>
                    <a href="/about">Read More...</a>
                </p>
            </div>
        </div>
    </section>
{{/inline}}

{{~> layout~}}
