<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Cum Engineers - Home of the Cum Engine">
    <meta property="og:type" content="">
    <meta property="og:url" content="https://cum.engineer">
    <meta property="og:image" content="/sale.jpg">

    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="theme-color" content="#fafafa">
</head>

<body>

{{> nav}}
{{~> page}}
{{> footer}}

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if (navbarBurgers.length > 0) {

            // Add a click event on each of them
            navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = document.getElementById(el.dataset.target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    target.classList.toggle('is-active');

                });
            });
        }

    });
</script>

</body>

</html>
