<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/logo.png" alt="Logo">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMain" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/about">
                    About Us
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/about/mundo">
                            About Dr. Zaun Mundo, MD
                        </a>
                        <a class="navbar-item" href="/shop/milk">
                            Engine Fuel Shop
                        </a>
                        <a class="navbar-item" href="/kit">
                            Build-Your-Own-Milk-Engine&trade; Science Kit
                        </a>
                        <a class="navbar-item" href="/about/engines">
                            About our Engines
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/report">
                            Report an issue with your Milk Engine&trade;
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/shop">
                            <strong>Visit Our MilkShop&trade;</strong>
                        </a>
                        <a class="button is-link is-outlined" href="/comments">
                            Message Board
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
