@charset "utf-8"
@import "./bulma-0.9.0/bulma"

#mainJumbotron img
    border-radius: 8px
    border: 2px solid $dark

img#bottomLogo
    max-height: 40px

#upperTextFooter
    padding-bottom: 2rem

#bottomLogoFooter
    padding-bottom: 0.7rem
    padding-top: 0.7rem

#aboutText p
    @extend .is-size-5
    padding-bottom: 2rem

.itemPrice
    text-align: right
    font-weight: bold

.itemNum
    &:before
        content: '$'
